.body {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  width: 100%;
}

.chat-container {
  display:flex;
  justify-content: center;
  margin-top: 40px;
  gap: 30px;
  height: 800px;
  width: 60%;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5)
}
  
  .side-menu {
    width: 20%;
    border-right: 1px solid #ccc;
    padding: 10px;
  }
  
  .side-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .side-menu li {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .side-menu li:hover {
    background-color: #f5f5f5;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    width: 80%; /* Ensure it takes up enough space */
    height: 100%; /* Match the height of the parent container */
    overflow: hidden; /* Prevent content overflow */
  }

  .back-button {
    display: none;
    margin-bottom: 10px;
    background-color: none;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .back-button mat-icon {
    background-color: none;
    color: black;
  }

  .messages {
    display: flex;
    flex-direction: column-reverse; /* Reverse message order */
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
  }

  .my-message {
    background-color: #d1ffd6;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
  }
  
  .other-message {
    background-color: #f1f1f1;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  
  .input-container mat-icon {
    display: flex;
    align-items: center;
    margin-right: 2px;
    color: #888;
    width: 20px;
    font-size: 18px;
  }
  
  .input-container input {
    font-size: medium;
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    width: 50%;
  }

  .send-button {
    display: flex;
    justify-content: center;
    box-shadow: none;
    border-radius: 30px;
    background-color: white;
  }

  .send-button mat-icon{
    color: rgb(31, 169, 255);
    margin-left: 5px;
  }

  @media (max-width: 768px) {
    .body{
      display:contents;
    }

    .chat-container {
      margin-top: 0;
      flex-direction: column;
      padding: 0;
      width: 100%;
      height: 95%;
    }
  
    .side-menu {
      width: 100%;
      border-right: none;
    }
  
    .chat-messages {
      width: 100%;
    }
  
    .back-button {
      display: block;
    }
  }