:host {
  display: flex;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../../../public/background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
  backdrop-filter: blur(10px); /* Apply blur effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 50px 20px;
  margin-bottom: 100px;
  text-align: center;
  width: 700px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.form-items-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label-error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.regiter-form label {
  font-size: 20px;
  margin-bottom: 2px;
}

.register-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.register-form input:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  margin-top: 20px;
  padding: 20px;
  font-size: large;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #0056b3;
}

@keyframes slideInY {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -5px;
  text-align: right;
  animation: slideInY 0.3s ease forwards;
}


.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.input-container mat-icon {
  margin-right: 10px;
  color: #888;
}

.input-container input {
  font-size: large;
  border: none;
  outline: none;
  flex: 1;
}

.show-password-btn {
  background: none;
  border: none;
  cursor: pointer;
  right: 10px;
  color: #888;
}

.show-password-btn mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }

  .success-snackbar {
    padding: 50px;
  }

@media (max-width: 900px) {
  .register-form-container {
    margin-top: 100px;
    width: 85%;
    padding: 20px;
  }
  .form-items {
    flex-direction: column;
  }
  
}