.navbar {
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

.navbar-container {
    width: 100%;
}

.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 15px 20px;
    gap: 1rem;
    justify-content: space-between;
    font-size: 1.3rem;
}

.navbar-list a {
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
}

.navbar-list a:hover{
    color: #00356d;
}

.items-left {
    display: flex;
    gap: 1.5rem;
}

.middle-logo {
    margin: 0 10% 0 0;
}

.items-right mat-icon {
    margin-right: 5px;
}

.before-login-items {
    display: flex;
    gap: 1.5rem;
}

.img-logo {
    width: 200px;
    margin: 5px 0 0 5px;
}