.navbar {
    margin: 0;
    padding: 20px 20px;
    box-shadow: inset 0 -1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.navbar-container {
    width: 100%;
}

/* Styling before-login-items */

.before-login-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.before-img {
    display: flex;
    justify-content: center; /* Centers the logo horizontally */
    align-items: center;
}

.before-login-items img {
    width: 150px;
}

.before-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
} 

/* Styling after-login-items */

.navbar-list-after {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.items-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
}

.items-left img {
    width: 150px;
}

.inner-left-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.inner-left-items li a {
    position: relative;
    display: inline-block;
    padding-right: 20px;
  }
  
  .inner-left-items li:not(:last-child) a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 150%;
    background-color: #B7B7BD;
    transform: translateY(-50%) rotate(20deg);
    transform-origin: center;
  }

  .inner-left-items li.active a {
    font-weight: 600;
    color: #7196C1;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(100, 120, 140, 0.25)
  }
  
.items-right mat-icon {
    margin-bottom: -5px;
    margin-right: 3px;
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 10px;
    }
    
    .navbar-container {
        width: 100%;
    }
    

    .before-img img{
        width: 100px;
    }

    li {
        font-size: 1rem;
    }

    .items-left img {
        width: 100px;
    }

    .menu-button {
        display: flex;          /* Use flexbox for centering */
        justify-content: center;  /* Center horizontally */
        align-items: center;      /* Center vertically */
        width: 40px;             /* Adjust as needed */
        height: 40px;            /* Adjust as needed */
        border: none;            /* Remove default button border */
        border-radius: 3px;
        background: none;        /* Remove default button background */
        padding: 0;              /* Remove default padding */
        transition: box-shadow 0.2s ease-in-out;
    }

    .menu-button.menu-expanded {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
        color: black;
    }

    .menu-button mat-icon{
        margin: 0;
    }

    .menu-container {
        padding: 1rem;
    }

    .menu-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu-items-routes {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .menu-logout {
        display: flex;
        align-items: center;
        margin-right: -10px;
    }
    
}