<div class="navbar">
    <nav class="navbar-container">
        <ul class="navbar-list">
            @if (isLoggedIn) {
                <div class="items-left">
                    <li><a routerLink="/flats">Flats</a></li>
                    <li><a routerLink="/add-flat">Add a Flat</a></li>
                    <li><a routerLink="/profile">Profile</a></li>
                    <li><a routerLink="/favorites">Favorites</a></li>
                </div>
                <div class="items-right">
                    <li><a (click)="logout()">Logout</a></li>
                </div>
            } @else {
                <div class="before-login-items">
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">Sign Up</a></li>
                </div>
            }
        </ul>
    </nav>
</div>