<div class="navbar">
    <nav class="navbar-container">
        <ul class="navbar-list">
            @if (isLoggedIn) {
                <div class="items-left">
                    <li><a routerLink="/flats">Flats</a></li>
                    <li><a routerLink="/flats-add">Add a Flat</a></li>
                    <li><a routerLink="/profile">Profile</a></li>
                    <li><a routerLink="/favorites">Favorites</a></li>
                </div>
                <div class="items-right">
                    <li><a>Logout</a></li>
                </div>
            } @else {
                <div class="before-login-items">
                    <li><a routerLink="/login">Login</a></li>
                    <li><a (click)="logout()">Sign Up</a></li>
                </div>
            }
        </ul>
    </nav>
</div>