<h2>Flat Details</h2>

<div *ngIf="flat" class="flat-details-view">
  <img [src]="flat.imageUrl" alt="Flat Image" class="flat-image" />
  <div><strong>Address:</strong> {{ flat.street_name }} {{flat.street_number}}</div>
  <div><strong>Price:</strong> {{ flat.rent_price }}</div>
  <div><strong>Measurements:</strong> {{ flat.area_size }} m²</div>
  <div><strong>City:</strong> {{ flat.city }}</div>
  <div><strong>Year of construction:</strong> {{ flat.year_built }}</div>
  <div><strong>Has AC:</strong> {{ flat.has_ac ? 'Yes' : 'No' }}</div>
  <div><strong>Date of availability:</strong> {{ flat.dateAvailable }}</div>
  <div><strong>Contact name:</strong> {{ flat.landlord_firstname }} {{ flat.landlord_lastname }}</div>
  <div><strong>Contact:</strong> {{ flat.landlord_email }}</div>
</div>