
:host {
  display: flex;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../../../public/background.png');
  background-size:cover;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Grain Effect */
:host::before {
content: '';
position: absolute;
inset: 0;
background: url('../../../../public/granular.png'); /* Adjust to correct path */
opacity: 0.02; /* Adjust grain strength */
animation: staticNoise 0.2s steps(1) infinite;
pointer-events: none;
height: 100%;
z-index: 1;
}

@keyframes staticNoise {
0%   { background-position: 0 0; }
25%  { background-position: 10% 5%; }
50%  { background-position: -5% 15%; }
75%  { background-position: 8% -10%; }
100% { background-position: 0 0; }
}
  
  .login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    backdrop-filter: blur(10px); /* Apply blur effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 50px 20px;
    z-index: 2;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
  }
  
  .login-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  @keyframes slideInY {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .label-error {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .error {
    color: red;
    font-size: 14px;
    margin-top: -5px;
    animation: slideInY 0.3s ease forwards;
  }
  
  .submit-btn {
    margin-top: 20px;
    padding: 20px;
    font-size: large;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }

  .helper-text a {
    color: #007bff;
    text-decoration: none;
  }

  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  
  .input-container mat-icon {
    margin-right: 10px;
    color: #888;
  }
  
  .input-container input {
    font-size: large;
    border: none;
    outline: none;
    flex: 1;
  }

  .show-password-btn {
    background: none;
    border: none;
    cursor: pointer;
    right: 10px;
    color: #888;
  }
  
  .show-password-btn mat-icon {
    font-size: 20px;
  }

  .forgot-register {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
  }

  .forgot-register .helper-text {
    display: flex;
    gap: 3px;
    margin-top: 20px;
  }

  @media (max-width: 900px) {
    :host {
      height: 100vh;
    }

    .login-form-container {
      margin: 0;
      width: 80%;
      padding: 50px 10px;
    }

    .input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px 5px;
      margin-bottom: 10px;
      background-color: #ffffff;
    }
    
    .input-container mat-icon {
      display: flex;
      align-items: center;
      margin-right: 2px;
      color: #888;
      width: 20px;
      font-size: 18px;
    }
    
    .input-container input {
      font-size: medium;
      border: none;
      outline: none;
      flex: 1;
      padding: 5px;
      width: 50%;
    }

    .helper-text {
      font-size: 13px;
    }
  
    
  }