<div class="profile-form-container">
    <h2 style="margin-bottom: 30px;">Profile</h2>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form">

        <div class="label-error">
            <label>First Name</label>
            @if (profileForm.get('firstName')?.touched && profileForm.get('firstName')?.invalid) {
                <div class="error">
                    {{ getErrorMessage('firstName') }}
                </div>
            }
        </div>
            <div class="input-container">
                <mat-icon>account_box</mat-icon>
            <input type="text" formControlName="firstName" required />
        </div>

        <div class="label-error">
            <label>Last Name</label>
            @if (profileForm.get('lastName')?.touched && profileForm.get('lastName')?.invalid) {
                <div class="error">
                    {{ getErrorMessage('lastName') }}
                </div>
            }
        </div>
        <div class="input-container">
            <mat-icon>account_box</mat-icon>
            <input type="lastName" formControlName="lastName" required />
        </div>
      <div class="label-error">
        <label>Email</label>
        @if (profileForm.get('email')?.touched && profileForm.get('email')?.invalid) {
          <div class="error">
            {{ getErrorMessage('email') }}
          </div>
        }
      </div>
      <div class="input-container">
        <mat-icon>mail</mat-icon>
        <input type="email" formControlName="email" required />
      </div>
  
      <div class="label-error">
        <label>Password</label>
        @if (profileForm.get('password')?.touched && profileForm.get('password')?.invalid) {
          <div class="error">
            {{ getErrorMessage('password') }}
          </div>
        }
      </div>
      <div class="input-container">
        <mat-icon>lock</mat-icon>
        <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" required />
        <button type="button" class="show-password-btn" (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>

      
      @if (profileForm.get('confirmPassword')?.value !== '') {
        <div class="confirm-password">
            <div class="label-error">
                <label>Confirm Password</label>
                @if (profileForm.get('confirmPassword')?.touched && profileForm.get('confirmPassword')?.invalid) {
                  <div class="error">
                    {{ getErrorMessage('confirmPassword') }}
                  </div>
                }
              </div>
    
              <div class="input-container">
                <mat-icon>lock</mat-icon>
                <input [type]="confirmPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" required />
                <button type="button" class="show-password-btn" (click)="toggleConfirmPasswordVisibility()">
                  <mat-icon>{{ confirmPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </div>
        </div>
        
      }
      
      <button type="submit" class="submit-btn" [disabled]="profileForm.invalid">Login</button>
    </form>
  </div>
  