:host {
    display: flex;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../../../public/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
  }
    
    .profile-form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
      backdrop-filter: blur(10px); /* Apply blur effect */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      width: 400px;
      padding: 50px 20px;
    }
    
    .profile-form {
      display: flex;
      flex-direction: column;
      width: 90%;
      gap: 10px;
      animation: slideInY 0.5s ease forwards;
    }
    
    .profile-form input {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }
  
    @keyframes slideInY {
      0% {
        opacity: 0;
        transform: translateY(-5px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  
    .label-error {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  
    .error {
      color: red;
      font-size: 14px;
      margin-top: -5px;
      animation: slideInY 0.3s ease forwards;
    }

<<<<<<< HEAD
.container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

h2 {
    font-size: 2rem;
    padding-top: 2rem;
    margin-bottom: 1rem;
    color: #5B5B62;
    border-bottom: 5px solid #84a3d9;
    text-align: center;
    width: fit-content;
    white-space: nowrap;
}

.input-normal {
    position: relative;
    width: 450px;
    height: 70px;
    margin: 0 auto;
}

.input-normal mat-icon {
    transform: translateY(-50%);
    position: absolute;
    left: 10px;
    bottom: 16px;
    margin: 0 5px;
    color: #E5E7E9;
}

.input-normal .show-password-btn {
    position: absolute;
    right: 50px;
    bottom: -6px;
    cursor: pointer;
  }  

.content input {    
    font-size: 1.5rem;
    background-color: #fff;
    color: #444444;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #00000029;
    display: block;
    width: -webkit-fill-available;
    margin-top: 20px;
    padding: 13px 10px 13px 42px;
}

.content input:focus {
    border: 1px solid #2FB5D8;
    color: #2FB5D8;
}

.content .confirm   {
    width: 100%;
    margin: 15px auto 0;
    text-align: right;
}

.content .lbl-message {
    font-size: 1.2rem;
    color: red;
    position: absolute;
    left: 12px;
    margin-top: 4px;
    white-space: nowrap;
}

.content .confirm button {
    background-color: #84a3d9;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 8px;
    letter-spacing: 1px;
    padding: 10px 20px;
    margin: 8px auto 0;
    text-align: center;
    height: 53.08px;
    font-size: 1.5rem;
}

.content .confirm button:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #84a3d9;
    color: #84a3d9;
    cursor: pointer;
}
=======
    .confirm-password {
      display: flex;
      flex-direction: column;
      gap: 10px;
      animation: slideInY 0.3s ease forwards;
    }
    
    .submit-btn {
      margin-top: 20px;
      padding: 20px;
      font-size: large;
      border-radius: 5px;
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .submit-btn:hover {
      background-color: #0056b3;
    }
    
    .input-container {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #ffffff;
    }
    
    .input-container mat-icon {
      margin-right: 10px;
      color: #888;
    }
    
    .input-container input {
      font-size: large;
      border: none;
      outline: none;
      flex: 1;
    }
  
    .show-password-btn {
      background: none;
      border: none;
      cursor: pointer;
      right: 10px;
      color: #888;
    }
    
    .show-password-btn mat-icon {
      font-size: 20px;
    }
  
    @media (max-width: 900px) {
      .login-form-container {
        width: 85%;
        padding: 20px;
      }
      
    }
>>>>>>> eab0aa9 (Major changes to login method)
