/* container */
.flats-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
  }

  .flats-form-bottom {
    width: 100%;
    display: flex;
  }
  
/* sort */
.sort-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 100%;
}

.sort-bar label {
    font-size: 1.5rem;
    margin-left: 5px;
}

.sort-bar::after {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 50%;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.sort-bar mat-icon[filter] {
    font-size: 22pt;
    color: #888888;
    margin: -4px 5px 0 5px;
}

.sort-bar .sort-btn {
    display: flex;
    justify-content: center;
    padding: 5px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: middle;
    white-space: nowrap;font-size: 18px;
    border-radius: 5px;
    border: 1px solid #888888;
    background-color: #FFFFFF;
    color: #888888;
}

.sort-bar .sort-btn:hover {
    border: none;
    background-color: #888888;
    color: #FFFFFF;
}

.sort-bar .sort-btn.soring {
    border: none;
    background-color: #059033;
    color: #FFFFFF;
}

.sort-bar .toggle-btn {
    display: none;
    padding: 1px 10px;
    margin-left: 5px;
}

.sort-bar .toggle-btn mat-icon {
    margin-top: 3px;
}
 
/* filter */
.filter-panel {
    background-color: #FFFFFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 250px;
    height: 82.7vh;
    transition: transform 0.3s ease;
}

.filter-panel::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.filter-panel.collapsed {
    transform: translateX(-100%);
    position: absolute;
    z-index: 10;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.filters h3 {
    font-size: 1.5rem;
}

.filter-item h4 {
    font-size: 1.2rem;
}

.filter-item.filter-slider h4 {
    position: relative;
    top: 20px;
}

.filter-item .checkbox-list {
    font-size: 1.2rem;
    display: flex;
    gap: 5px;
    margin: 5px 0;
}

.filter-item .checkbox-list input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.filter-item .checkbox-list label {
    text-transform: capitalize;
}

.filter-item input {
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #888888;
    background-color: #FFFFFF;
    padding: 6px 5px;
}

/* slider */
.slider-container {
    position: relative;
    padding: 20px 0;
    width: 100%;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    pointer-events: none;
    top: 25px;
  }
  
  .slider::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 2;
  }
  
  .slider-track {
    position: absolute;
    height: 4px;
    top: 34px;
    z-index: 1;
    border-radius: 2px;
  }
  
  .value-labels {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  /* flats */
  .flats-content {
    padding-top: 10px;
    display: flex;    
    flex-wrap: wrap;
    height: 83vh;
    width: 85vw;
    overflow-y: auto;
  }

  .flats-content .flat-card {
    height: fit-content;
    width: 32rem;
    background: #FFFFFF;
    border: 3px solid #bbbbbb;
    margin: 0 0 20px 20px;
    position: relative;
    border-radius: 10px;
  }

  .flats-content .flat-card label {
        color: #242424;
        opacity: 0.85;
    }

  .flats-content .flat-card .upper {
    display: flex;
    gap: 15px;
    font-size: 1.3rem;
    padding: 10px 15px 0 15px;
    height: 19.5rem;
  }

  .flats-content .flat-card .upper .left {
        display: flex;
        flex-direction: column;
        width: 40%;
        max-width: 175px;
    }

    .flats-content .flat-card .upper .left * {
       margin-bottom: 5px;
    }

    .flats-content .flat-card .upper .left [city] {
        text-transform: capitalize;
        font-size: 2rem;
        color: #1D3557;
    }

    .flats-content .flat-card .upper .left [rent_price] {        
        color: #ff0000;
        font-size: 2.3rem;
        margin-top: 15px;
    }

    .flats-content .flat-card .upper .left [rent_price]::before {
        content: '$';
        color: #242424;
        opacity: 0.75;
        margin-right: 1px;
    }

    .flats-content .flat-card .upper .left [rent_price]::after {
        content: '/mo';
        color: #242424;
        opacity: 0.75;
        margin-left: 3px;
    }

    .flats-content .flat-card .upper .left [landlord_name],
    .flats-content .flat-card .upper .left [landlord_email] {
        display: flex;
        align-items: flex-start;
        gap: 4px;
        max-width: 200px;
        flex-wrap: nowrap;
    }

    .flats-content .flat-card .upper .left [landlord_name] span,
    .flats-content .flat-card .upper .left [landlord_email] span {
        word-break: break-word;
        white-space: normal;
        overflow-wrap: break-word;
        flex: 1;
    }

    .flats-content .flat-card .upper .left [landlord_name] {
        margin-top: 20px;
    }

    .flats-content .flat-card .upper .right {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: relative;
    }

    .flats-content .flat-card .upper .right [date_available] {
        font-weight: bold;
        margin-right: 5px;
        position: absolute;
        bottom: 0;
    }
    
    .flats-content .flat-card .upper .right [date_available]::before {
        content: 'Available at';
        font-size: 1.2rem;
        color: #242424;
        opacity: 0.75;
        margin-right: 5px;
    }

    .flats-content .flat-card .lower {
        height: 29px;
        width: 100%;
        display: flex;
        margin-bottom: 5px;
    }

    .flats-content .flat-card .lower .bottom {
        width: 33.333%;
        padding: 5px 10px;
    }
    
    .flats-content .flat-card .lower .bottom[area_size]{
        background-color: #E9F1FF;
    }

    .flats-content .flat-card .lower .bottom[area_size] label::before {
        content: 'Area Size:';
        margin-right: 3px;
    }

    .flats-content .flat-card .lower .bottom[area_size] label::after {
        content: 'm²';
        margin-left: 3px;
    }

    .flats-content .flat-card .lower .bottom[year_built] {
        background-color: #E5E5E5;
    }

    .flats-content .flat-card .lower .bottom[year_built] label::before {
        content: 'Built in';
        margin-right: 5px;
        opacity: 0.75;
    }

    .flats-content .flat-card .lower .bottom[has_ac] {
        display: flex;
        flex-direction: row;
        background-color: #CBF0F5;
        color: #bb0c0c;
        font-weight: 600;
    }

    .flats-content .flat-card .lower .bottom[has_ac] mat-icon {
        font-size: 1.2rem;
    }

    .flats-content .flat-card .lower .bottom[has_ac]::before {
        content: 'Air Conditioning';
        margin-right: 5px;
    }

    .flats-content .flat-card .lower .bottom.hasAC[has_ac] {
        color: #62B040;
    }

    .flats-content .flat-card .actions {
        width: 100%;
        display: flex;
        border-radius: 10px;
        margin: 0 5px 5px 5px;
        gap: 5px;
    }

    .flats-content .flat-card .actions button {
        width: 32%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;         
    }

    .flats-content .flat-card .actions button[view] {
        color: #62B040;
        font-size: 1rem;
        border: 1px solid #62B040;
        background-color: #FFFFFF;
        border-radius: 5px;
        gap: 5px;
        cursor: pointer;
    }

    .flats-content .flat-card .actions button[view]:hover {
        color: #FFFFFF;
        border: none;
        background-color: #62B040;
    }

    .flats-content .flat-card .actions button[view]:hover::after {
        content: 'Detail';
        color: #FFFFFF;
    }

    .flats-content .flat-card .actions button[message] {
        color: #007bff;
        font-size: 1rem;
        border: 1px solid #007bff;
        background-color: #FFFFFF;
        border-radius: 5px;
        gap: 5px;
        cursor: pointer;
    }

    .flats-content .flat-card .actions button[message]:hover {
        color: #FFFFFF;
        border: none;
        background-color: #007bff;
    }

    .flats-content .flat-card .actions button[message]:hover::after {
        content: 'Message';
        color: #FFFFFF;
    }

    .flats-content .flat-card .actions button[favorite] {
        color: #888888;
        font-size: 1rem;
        border: 1px solid #888888;
        background-color: #FFFFFF;
        border-radius: 5px;
        gap: 5px;
        cursor: pointer;
    }
  
    .flats-content .flat-card .actions button[favorite]:hover {
        color: #FFFFFF;
        border: 1px solid #ff0000;          
        background-color: #ff0000;
    }
      
    .flats-content .flat-card .actions button[favorite]:hover::after {
        content: 'Favorite';
        color: #FFFFFF;
    }
    
    .flat-image {
        height: 280px;
        width: 315px;
    }

    .no-results {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 40px;
        color: #9EAAC5;
        font-size: 18px;
        width: 76vw;
        height: 65vh;
      }

      .no-results mat-icon {
        text-align: center;
        padding: 40px;
        height: 240px;
        width: 240px;
        font-size: 20rem;
        margin-bottom: 50px;
      }

    @media (max-width: 768px) {  
        .sort-bar {            
            gap: 5px;
          }

          .sort-bar::after {
            content: "";
            position: absolute;
            left: 5px;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
            pointer-events: none;
          }
        
        .sort-bar .toggle-btn {
          display: block;
          background: #fff;
          box-shadow: 0 0 3px rgba(0,0,0,0.2);
        }

        .filter-panel {
            position: absolute;
            height: 122vh;
            z-index: 1000;
            width: 90vw;
        }

        .flats-content {
            height: fit-content;
            width: 100%;
        }

        .flats-content .flat-card {
            margin: 5px 6.5px;
            width: 24rem;
        }

        .flats-content .flat-card .upper {
            height: auto;
        }

        .flat-image {
            height: 280px;
            width: 205px;
        }

        .flats-content .flat-card .lower .bottom[area_size] label::before {
            content: 'Size:';
            margin-right: 3px;
        }

        .flats-content .flat-card .lower .bottom[year_built] label::before {
            content: 'In';
            margin-right: 5px;
            opacity: 0.75;
        }

        .flats-content .flat-card .lower .bottom[has_ac]::before {
            content: 'AC';
            margin-right: 5px;
        }
            
        .flats-content .flat-card .actions {
            margin: 0 3px 5px 3px;
        }
      }