.flat-card {
    display : flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    border: black 1px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
}

#flats-container {
    padding-top: 20px;
}